<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.mercadopago.com/v2/security.js" view=""></script>
    <title>Failure</title>
</head>
<body>

    <h1>El pago fue rechazado o no finalizó correctamente.</h1>
    
</body>
</html>